<?xml version="1.0" encoding="UTF-8" ?>
<checkstyle>

<file name="lib/repository.js">
  
  <error
    line="11"
    severity="info"
    message="Cyclomatic: 2,
    Halstead: 9.3750
    | Effort: 1055.5
    | Volume: 112.59
    | Vocabulary: 18"
    source="Repository"
    />
  
  <error
    line="30"
    severity="info"
    message="Cyclomatic: 2,
    Halstead: 11.632
    | Effort: 3547.6
    | Volume: 305.00
    | Vocabulary: 32"
    source="&lt;anonymous&gt;._init"
    />
  
  <error
    line="48"
    severity="error"
    message="Cyclomatic: 9,
    Halstead: 21.667
    | Effort: 13558
    | Volume: 625.76
    | Vocabulary: 34"
    source="&lt;anonymous&gt;.schema"
    />
  
  <error
    line="95"
    severity="warning"
    message="Cyclomatic: 3,
    Halstead: 16.900
    | Effort: 3516.6
    | Volume: 208.08
    | Vocabulary: 23"
    source="&lt;anonymous&gt;.create"
    />
  
  <error
    line="121"
    severity="warning"
    message="Cyclomatic: 3,
    Halstead: 18.850
    | Effort: 4348.7
    | Volume: 230.70
    | Vocabulary: 23"
    source="&lt;anonymous&gt;.update"
    />
  
  <error
    line="156"
    severity="info"
    message="Cyclomatic: 2,
    Halstead: 9.2857
    | Effort: 910.92
    | Volume: 98.099
    | Vocabulary: 17"
    source="&lt;anonymous&gt;.delete"
    />
  
  <error
    line="174"
    severity="info"
    message="Cyclomatic: 3,
    Halstead: 9.0000
    | Effort: 1324.5
    | Volume: 147.16
    | Vocabulary: 22"
    source="&lt;anonymous&gt;.find"
    />
  
  <error
    line="189"
    severity="warning"
    message="Cyclomatic: 5,
    Halstead: 16.875
    | Effort: 4252.7
    | Volume: 252.01
    | Vocabulary: 27"
    source="&lt;anonymous&gt;.findMany"
    />
  
  <error
    line="246"
    severity="warning"
    message="Cyclomatic: 7,
    Halstead: 13.200
    | Effort: 6016.4
    | Volume: 455.79
    | Vocabulary: 31"
    source="_serialize"
    />
  
  <error
    line="278"
    severity="warning"
    message="Cyclomatic: 6,
    Halstead: 13.750
    | Effort: 7558.1
    | Volume: 549.68
    | Vocabulary: 39"
    source="_deserialize"
    />
  
  <error
    line="319"
    severity="error"
    message="Cyclomatic: 9,
    Halstead: 25.125
    | Effort: 17477
    | Volume: 695.61
    | Vocabulary: 42"
    source="_scrubResource"
    />
  
  <error
    line="360"
    severity="warning"
    message="Cyclomatic: 3,
    Halstead: 15.600
    | Effort: 5399.6
    | Volume: 346.13
    | Vocabulary: 28"
    source="&lt;anonymous&gt;"
    />
  
  <error
    line="379"
    severity="info"
    message="Cyclomatic: 5,
    Halstead: 12.231
    | Effort: 4831.9
    | Volume: 395.06
    | Vocabulary: 19"
    source="&lt;anonymous&gt;"
    />
  
  <error
    line="409"
    severity="info"
    message="Cyclomatic: 3,
    Halstead: 12.750
    | Effort: 3738.9
    | Volume: 293.25
    | Vocabulary: 28"
    source="_getSchemaFields"
    />
  
  <error
    line="564"
    severity="warning"
    message="Cyclomatic: 3,
    Halstead: 15.583
    | Effort: 4652.5
    | Volume: 298.56
    | Vocabulary: 23"
    source="dissociate"
    />
  
  <error
    line="659"
    severity="info"
    message="Cyclomatic: 2,
    Halstead: 9.4545
    | Effort: 1847.5
    | Volume: 195.40
    | Vocabulary: 19"
    source="_addSingleDoc"
    />
  
</file>



<file name="lib/adapter.js">
  
  <error
    line="38"
    severity="info"
    message="Cyclomatic: 3,
    Halstead: 10.000
    | Effort: 1370.6
    | Volume: 137.06
    | Vocabulary: 14"
    source="&lt;anonymous&gt;.resource"
    />
  
  <error
    line="53"
    severity="info"
    message="Cyclomatic: 3,
    Halstead: 11.000
    | Effort: 1672.0
    | Volume: 152.00
    | Vocabulary: 16"
    source="&lt;anonymous&gt;.schema"
    />
  
  <error
    line="68"
    severity="info"
    message="Cyclomatic: 3,
    Halstead: 10.000
    | Effort: 1370.6
    | Volume: 137.06
    | Vocabulary: 14"
    source="&lt;anonymous&gt;.validator"
    />
  
  <error
    line="83"
    severity="warning"
    message="Cyclomatic: 3,
    Halstead: 15.556
    | Effort: 3436.1
    | Volume: 220.89
    | Vocabulary: 19"
    source="&lt;anonymous&gt;.beforeCreate"
    />
  
  <error
    line="99"
    severity="warning"
    message="Cyclomatic: 3,
    Halstead: 15.556
    | Effort: 3436.1
    | Volume: 220.89
    | Vocabulary: 19"
    source="&lt;anonymous&gt;.beforeUpdate"
    />
  
  <error
    line="115"
    severity="info"
    message="Cyclomatic: 2,
    Halstead: 10.435
    | Effort: 4014.2
    | Volume: 384.70
    | Vocabulary: 35"
    source="&lt;anonymous&gt;.create"
    />
  
  <error
    line="139"
    severity="info"
    message="Cyclomatic: 2,
    Halstead: 10.286
    | Effort: 3476.3
    | Volume: 337.97
    | Vocabulary: 33"
    source="&lt;anonymous&gt;.update"
    />
  
</file>



<file name="lib/model.js">
  
  <error
    line="8"
    severity="info"
    message="Cyclomatic: 2,
    Halstead: 9.7500
    | Effort: 952.30
    | Volume: 97.672
    | Vocabulary: 15"
    source="_docMatchesQuery"
    />
  
  <error
    line="43"
    severity="info"
    message="Cyclomatic: 2,
    Halstead: 8.3333
    | Effort: 1476.7
    | Volume: 177.20
    | Vocabulary: 20"
    source="put"
    />
  
  <error
    line="116"
    severity="info"
    message="Cyclomatic: 2,
    Halstead: 9.6429
    | Effort: 2122.2
    | Volume: 220.08
    | Vocabulary: 24"
    source="query"
    />
  
  <error
    line="136"
    severity="info"
    message="Cyclomatic: 3,
    Halstead: 8.5909
    | Effort: 1448.0
    | Volume: 168.56
    | Vocabulary: 20"
    source="onComplete"
    />
  
  <error
    line="163"
    severity="info"
    message="Cyclomatic: 2,
    Halstead: 8.6786
    | Effort: 1962.9
    | Volume: 226.18
    | Vocabulary: 23"
    source="allDocs"
    />
  
  <error
    line="189"
    severity="info"
    message="Cyclomatic: 4,
    Halstead: 7.3182
    | Effort: 1281.7
    | Volume: 175.14
    | Vocabulary: 18"
    source="onComplete"
    />
  
</file>



<file name="lib/index.js">
  
</file>



</checkstyle>
